<form name="loginForm" novalidate data-ng-submit="submit()">
	<div class="container">
		<div ng-Show="error" class="ng-hide alert alert-danger" role="alert">
			{{error}}
		</div>	
	
		<div class="panel panel-default">
			<div class="panel-heading">Login Page</div>
			<div class="panel-body">
				<div class="well well-info">
					<p>Utilisez les login suivant : admin, user, guest</p>
					<p>Le mot de passe importe peu</p>
				</div>
	    		<div class="input-group">
	    			<input type="text" class="form-control" placeholder="Login Name" ng-model="name">
	    		</div>
	    		<div class="input-group">
	    			<input type="password" class="form-control" placeholder="Password" ng-model="password">
	    		</div>
	    		
	    		<button type="submit" class="btn btn-info">Submit</button>
		  	</div>
		</div>
	</div>
</form>